<mat-card appearance="outlined">
  <div id="card-header">
    <h4>{{event.title}}</h4>
    <h5>{{event.subtitle}}</h5>
  </div>
  <img [src]="event.image" [alt]="event.title" class="card-image">
  <div id="card-body">
    <span>  
      {{ event.startDate | date:'dd/MM/yyyy' }}
      -
      {{ event.endDate | date:'dd/MM/yyyy' }}
    </span>
    <p class="d-none d-md-block" [innerHTML]="event.description"></p>
  </div>
  <div id="card-footer">
    <a [routerLink]="'/event/' + event.id">
      {{'Comprar'}}
    </a>
  </div>
</mat-card>